/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------Reset End------------------------------------------------------------------------------------*/


/*-------Global Start---------------------------------------------------------------------------------*/

body {
    font-family: Courier New, Courier, monospace;
    color: #2A2A2A;
    background-image: url("../images/rockywall.png");
    min-height: 100%;
    margin-bottom: -50px;
    font-size: 12.5pt;
}

.container {
    width: 90vw;
    margin: auto;
}

#maintitle {
    margin: auto;
    padding-top: 13vh;
    width: 65vw;
    z-index: 2;

}

#studio {
    text-align: left;
    font-size: 5.1em;
    font-family: "Century Gothic", "MS Serif";
    border-left: #3F3C3C solid 3px;
    padding-left: 1vw;
    padding-bottom: 1vw;

}

#occupation {
    text-align: left;
    font-size: 2.6em;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-left: 1.2vw;
    padding-bottom: 1vw;
}


header {
    font-family: 'Raleway', sans-serif;
    width: 100vw;
    margin: 0 auto;
    position: fixed;
    height: 6vh;
    color: #ffffff;
    background-color: #060e0fce;

}

nav {
    margin-top: .3vh;
    display: inline;
    float: right;
    position: static;
}

.navlink {
    padding-right: 2vw;
}

.navlink:link {
    color: #ffffff;
    text-decoration: none;
}

.navlink:visited {
    color: #ffffff;
}

.navlink:hover {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.navlink:active {
    text-decoration: underline;
    text-decoration-color: #ffffff;
}

.fab {
    font-size: 2.2em;
    color: #ffffff;
    padding-right: 1.3vw;
    text-decoration: none;
}

.fas {
    font-size: 2.0em;
    color: #060e0fce;
    padding-right: 1.3vw;
    text-decoration: none;
}

.images {
   
    display: inline;
    margin: auto;
}

.desImage {
    width: 22vw;
    margin-top: 2vh;
}

.artImage {
    width: 18vw;
    margin: 2vw;
    margin-top: 2vh;
    border-radius: 10px;
}

.devImage {
    width: 22vw;
    border-radius: 10px;
    margin-right: 2vw;
}

footer {
    background-color: #060e0fce;
    height: 6vh;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

#foottext {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}



/*-------Global End----------------------------------------------------------------------------------*/

/*-------Index Start---------------------------------------------------------------------------------*/

#maintitle {
    margin: auto;
    padding-top: 13vh;
    width: 65vw;
    z-index: 2;
}

#studio {
    text-align: left;
    font-size: 4.1em;
    font-family: 'Raleway', sans-serif;
    border-left: #3F3C3C solid 3px;
    padding-left: 1vw;
    padding-bottom: 1vw;

}

#occupation {
    text-align: left;
    font-size: 2.6em;
    border-left: #3F3C3C solid 3px;
    border-bottom: #3F3C3C solid 3px;
    padding-left: 1.2vw;
    padding-bottom: 1vw;
}


/*-------Index End-----------------------------------------------------------------------------------*/

/*-------Portfolio Start-----------------------------------------------------------------------------*/


h1 {
    font-size: 1.7em;
    font-weight: bold;
    color: #3F3C3C;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    color: #00aeef;
    padding-bottom: 2vh;
}

p {
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.3;
    padding-bottom: 1vh;
}

span {
    font-size: 1.1em;
    font-weight: bold;
}

article {
    width: 90vw;
    margin-top: 2vw;
    margin-bottom: 1.3vw;

}

section {
    align-self: auto;
    padding-bottom: 6vw;

}

.project {
    display: inline-flex;
}

.desc {
    width: 60vw;
}
/*-------Media Query---------------------------------------------------------------------------------*/



/*

 #######   #######   #######  
##     ## ##     ## ##     ## 
##     ## ##     ##        ## 
 ########  ########  #######  
       ##        ## ##        
##     ## ##     ## ##        
 #######   #######  ######### 

 */


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

    .containerHead {
        width: 900px;
    }

    .container {
        width: 900px;
    }

}


/*

########  #######   #######  
##    ## ##     ## ##     ## 
    ##   ##        ##     ## 
   ##    ########   #######  
  ##     ##     ## ##     ## 
  ##     ##     ## ##     ## 
  ##      #######   #######  

*/


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

    .containerHead {
        width: 620px;
    }

    .container {
        width: 620px;
    }

    .formstyle {
        float: ;
        padding-left: 100px;
        padding-bottom: 50px;
        text-align: left;

    }
}

/*

#######  ##          #####   
##     ## ##    ##   ##   ##  
##        ##    ##  ##     ## 
########  ##    ##  ##     ## 
##     ## ######### ##     ## 
##     ##       ##   ##   ##  
 #######        ##    #####   

 */

/* On screens that are 640px*/
@media screen and (max-width: 640px) {

    .containerHead {
        width: 420px;
    }

    .container {
        width: 420px;

        border: #2A2A2A solid 2px;
        min-height: 490px;
        border-radius: 20px;
        background-color: #faf8f291;
    }

    /*#topNav {
        float: right;
        padding-top: 26px;
    }

    .navItem {
        padding-left: 4px;
    }

    header {
        width: 100%;
        height: 54px;
        overflow: auto;
        margin-bottom: 40px;
    }

    h1 {
        font-weight: 700;
        font-size: 1.1em;
        margin-top: 6px;
        padding-top: 14px;
        padding-bottom: 16px;
        padding-left: 6px;
        padding-right: 6px;
        float: left;
        color: #faf8f2;
        background-color: #2A2A2A;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

    }

    h2 {
        font-weight: 700;
        font-size: .9em;
        padding-top: 16px;
        padding-bottom: 8px;
        margin-left: 20px;

    }

    a {
        text-decoration: none;
        color: #2A2A2A;
        font-size: .8em;
        font-weight: 600;
    }

    .formstyle {
        padding-bottom: 50px;
        text-align: left;

    }

    #message {
        padding: 1%;
        margin: auto 0px;
        border-radius: 20px;
        color: #262424;
        background-color: #E6E5E5;
        text-align: center;
        height: 200px;
        width: 250px;
    }
}*/